<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yellow_patka.thepatka"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yellow_patka.thepatka.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yellow_patka.thepatka.MainActivity" >
        </activity>
        <activity
            android:name="com.yellow_patka.thepatka.PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name="com.yellow_patka.thepatka.SelectActivity"
            android:label="@string/title_activity_select" >
        </activity>
        <activity
            android:name="com.yellow_patka.thepatka.MeetTheDuckActivity"
            android:label="@string/title_activity_meet_the_duck" >
        </activity>
        <activity
            android:name="com.yellow_patka.thepatka.Level2Activity"
            android:label="@string/title_activity_level2" >
        </activity>
        <activity
            android:name="com.yellow_patka.thepatka.Level3Activity"
            android:label="@string/title_activity_level3" >
        </activity>
        <activity
            android:name="com.yellow_patka.thepatka.Level4Activity"
            android:label="@string/title_activity_level4" >
        </activity>
    </application>

</manifest>
